/* Box Model Hack */
* {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

ul li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

/******************************************
/* HEADER
/*******************************************/

header,
.main {
  background-color: black;
  color: white;
  margin: 0;
  font-size: 2rem;
}

.logo-div {
  display: flex;
  flex-direction: row;
}

.logo-div p {
  font-family: "Caveat", sans-serif;
  padding-left: 5px;
}

.logo-div a {
  font-size: 3rem;
  display: flex;
  align-items: center;
}

.logo {
  max-height: 60px;
  max-width: 80px;
}

header ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0px 0 0 20px;
}

header ul li {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 35px;
  max-height: 35px;
  padding: 0;
  margin: 0;
}

header ul li:first-child {
  margin-right: auto;
}

header ul li:last-child {
  margin-left: auto;
  visibility: hidden;
}

header li {
  font-size: 3rem;
  padding-right: 40px;
}

header li:not(:first-child) a:hover {
  color: orange;
}

/******************************************
/* MAIN - LEFT SECTION
/*******************************************/

.main {
  padding-top: 100px;
  display: flex;
  padding-bottom: 100px;
}

.main span {
  color: yellow;
  font-size: 5rem;
}

.main-description {
  flex: 50%;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  justify-content: center;
  padding: 0 0 0 3rem;
}

.main-description button {
  background-color: green;
  padding: 10px 10px;
  max-width: 150px;
  border-radius: 24px;
  cursor: pointer;
  color: white;
  letter-spacing: 0.5px;
}

.main-description h2 {
  font-size: 6rem;
  margin: 1rem 0;
}

.main-description h3 {
  font-size: 3rem;
  margin: 0;
}

.main-description h4 {
  font-size: 1.6rem;
  line-height: 3rem;
}

/******************************************
/* MAIN - RIGHT SECTION
/*******************************************/

.main-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 50%;
}

.main-img img {
  border-radius: 40%;
  max-width: 100%;
  max-height: 100%;
  padding: 0 2rem 0 2rem;
}

/******************************************
/* ABOUT ME - LEFT
/*******************************************/

.about-me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 150px 0 0 0;
}

.about-me-left {
  display: flex;
  align-items: center;
  flex: 50%;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-me-left img {
  width: 60px;
  height: 60px;
}

.about-me-left > div {
  flex: 0 1 100%;
}

.about-me-left div {
  display: flex;
  justify-content: space-evenly;
}
/******************************************
/* ABOUT ME RIGHT - FIRST
/*******************************************/
.about-me-right {
  display: flex;
  flex-direction: column;
  flex: 50%;
}

.about-me-first {
  margin: 0 2rem;
  margin: 5rem;
  font-size: 2.5rem;
}

.about-me-first > span {
  font-size: 4rem;
}

h1 {
  font-size: 2rem;
}

/******************************************
/* ABOUT ME RIGHT - SECOND
/*******************************************/

.about-me-second {
  max-height: 300px;
  margin: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5rem;
  padding: 0 2rem;
  border: 2px solid lightgray;
  border-radius: 1rem;
}

.about-me-second span {
  font-weight: bold;
  font-size: 1.6rem;
}

.about-me-second p {
  margin: 0;
  padding: 2rem 0 0 0;
}

.about-me-second p + p {
  padding-bottom: 2rem;
  text-align: right;
}

.about-me-waves {
  display: flex;
  flex-basis: 100%;
  background-image: url("images/wave.svg");
}

/******************************************
/* SERVICES
/*******************************************/

.services {
  padding: 20px 0 200px 0;
  background-color: #0b1d25;
  color: white;
  font-size: 2.5rem;
}

.services h2 {
  font-size: 3rem;
  text-align: center;
  padding: 0 4rem 100px 4rem;
}

.services-cards {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-grow: 1.5;
}

.services-box {
  flex-shrink: 1;
  margin: 1rem;
  width: 100%;
  flex: 33%;
  height: 250px;
  background-color: rgba(237, 237, 237, 0.905);
  border-radius: 5rem;
  color: black;
  font-size: 2.5rem;
  justify-content: center;
  display: flex;
  box-shadow: 0px 20px 40px -20px white;
}

.card-container {
  margin: 2rem;
  flex-grow: 1;
}

.services-left:hover,
.services-right:hover,
.services-middle div:last-child:hover,
.services-middle > div:hover {
  scale: 1.1;
}

.services-left div {
  border-top: 5px solid rgb(29, 131, 186);
}

.services-middle div:last-child {
  margin-top: 100px;
  border-top: 5px solid rgb(172, 27, 29);
}

.services-middle > div {
  margin-bottom: 3rem;
  border-top: 5px solid rgb(115, 169, 7);
}

.services-right div {
  border-top: 5px solid rgb(215, 150, 8);
}

/******************************************
/* RESPONSIVE BIG SCREEN 1440+
/*******************************************/

@media all and (min-width: 1440px) {
  .main-description {
    align-items: center;
  }
}

/******************************************
/* RESPONSIVE LAPTOP 1024+
/*******************************************/

@media all and (max-width: 1024px) {
  .about-me-second {
    max-height: 400px;
  }
}

/******************************************
/* RESPONSIVE MOBILE LARGE 768+
/*******************************************/
@media all and (max-width: 768px) {
  .main-description {
    align-items: center;
  }
  .main-img {
    padding: 5rem;
  }
  .main {
    flex-direction: column;
  }
}
