.section {
  background-color: $gray-bg-color;
}

.heroContainer {
  //Has container class from globals
  padding-top: 10rem;
  font-family: $regular-font;

  @include tablet {
    .heroDescription {
      order: 2; // This will make the description come second
    }

    .heroImageSection {
      order: 1; // This will make the image section come first
    }
  }
  @include mobile {
    padding-top: 3rem;
  }
}

// All hero content wrapper
.heroWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: $text-color;

  @include tablet {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// All hero desc wrapper
.heroDescription {
  width: 50%;
  padding: 3rem 5rem;

  h2 {
    padding-bottom: 3rem;
    font-size: $text-size;
    img {
      width: 25px;
    }
  }

  @include tablet {
    width: 100%;
    text-align: center;
  }
}

// First heading
.mainHeading {
  font-family: $title-font;
  font-size: $hero-size;
  padding-bottom: 3rem;
  color: $default-text-color;

  @include laptop {
    font-size: $headings-size;
  }

  @include tablet {
    font-size: $headings-size;
  }

  img {
    width: 5rem;
    transform: translateY(20%);
  }
}

// Socials
.heroSocials {
  display: flex;
  gap: 1rem;

  @include tablet {
    justify-content: center;
  }
}

// Right side section wrapper
.heroImageSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

  @include mobile {
    width: 70%;
  }
}

// Right side image
.heroImage {
  padding: 5rem;
  animation: anim 30s infinite;
  border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
  border: 1px solid black;
  content: "";
  position: static;
  width: 350px;
  height: 350px;
  background-image: url("/assets/img/profilowe.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include tablet {
    max-width: 350px;
    max-height: 270px;
  }
}

// Anim for img
@keyframes anim {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
  }

  10% {
    border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
  }

  20% {
    border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
  }

  30% {
    border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
  }

  40% {
    border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
  }

  50% {
    border-radius: 100%;
  }

  60% {
    border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
  }

  70% {
    border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
  }

  80% {
    border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
  }

  90% {
    border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
  }
}

// Tech stack wrapper
.techStackWrapper {
  display: flex;

  align-items: center;
  padding: 3rem 5rem;
  color: $default-text-color;

  @include laptop {
    flex-direction: column;
    justify-content: center;
  }
}

.techStackText {
  font-size: $hero-text-size;
  width: 15rem;
  height: 100%;

  @include laptop {
    width: 10rem;
  }

  p {
    border-right: 2px solid $text-color;
    margin-right: 2rem;

    @include laptop {
      border-right: 0;
      border-bottom: 2px solid $text-color;
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }
}

//icons wrapper
.techStackIconsWrapper {
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    justify-content: center;
  }
  .iconsGroup:first-child {
    padding: 1rem 1rem 1rem 0;
  }
}

.iconsGroup {
  padding: 1rem 1rem;
  img {
    transition: all ease-in-out 0.3s;
    &:hover {
      transform: translateY(-1rem);
    }
  }
}
