// Resetting margins and paddings
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  color: $default-text-color;
  text-decoration: none;
}

li {
  list-style-type: none;
}
