// Resetting margins and paddings
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;
  font-family: $regular-font;
  position: relative;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  max-width: 107rem;
  margin: 0 auto;
}

a {
  color: $default-text-color;
  text-decoration: none;
}

li {
  list-style-type: none;
}
