// ============= BREAKPOINTS =============
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;

// ============= COLORS =============
$default-text-color: black;
$background-color: white;
$gray-bg-color: #f9f9f9;
$text-color: #767676;
$black-shade: #2d2e32;
$section-header-color: #147efb;

// ============= FONT =============

// font size
$text-size: 1.7rem;
$hero-size: 3.5rem;
$hero-text-size: 2rem;
$headings-size: 3rem;
$section-headings-size: 2.4rem;

//font style
@font-face {
  font-family: "Poppins Regular";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
}
$regular-font: "Poppins Regular", sans-serif;

@font-face {
  font-family: "Poppins Bold";
  src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
}
$title-font: "Poppins Bold", sans-serif;

//============= CONTAINERS =============
$shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.25);
