// ============= BREAKPOINTS =============
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;

// ============= COLORS =============
// Light theme variables
:root {
  // Text colors
  --default-text-color: black;
  --secondary-text-color: white;
  --gray-text-color: #767676;
  --section-header-color: #147efb;
  --section-header-color2: #58a6ff;
  --text-project-cards: black;
  // Background colors
  --background-color: white;
  --secondary-bg-color: #f9f9f9;
  --default-shade: #2d2e32;
  --border-default: #2d2e32;
}

// Dark theme variables
[data-theme="dark"] {
  // Text colors
  --default-text-color: white;
  --secondary-text-color: black;
  --gray-text-color: #c7c7c7;
  --section-header-color: #147efb;
  --text-project-cards: #c7c7c7;
  // Background colors
  --background-color: #333;
  --secondary-bg-color: #242424;
  --default-shade: #2d2e32;
  --border-default: white;
}

// ============= FONT =============
// font size
$text-size: 1.7rem;
$hero-size: 3.5rem;
$hero-text-size: 2rem;
$headings-size: 3rem;
$section-headings-size: 2.4rem;

//font style
@font-face {
  font-family: "Poppins Regular";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
}
$regular-font: "Poppins Regular", sans-serif;

@font-face {
  font-family: "Poppins Bold";
  src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
}
$title-font: "Poppins Bold", sans-serif;

//============= CONTAINERS =============
$shadow-blue-lg: 0 0 15px 5px var(--section-header-color),
  0 4px 6px -4px rgb(0 0 0 / 0.1);
$shadow-dark-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
  0 4px 6px -4px rgb(0 0 0 / 0.1);
$shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.25);
$shadow-inner2: inset 0 0px 2px 1px var(--section-header-color);
