.container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0;
  box-shadow: $shadow-blue-lg;
  z-index: 100;
  background-color: var(--background-color);
}

.logo {
  color: var(--default-text-color);
  padding: 0 2rem;
  font-size: $headings-size;
  justify-self: start;
  @include tablet {
    font-size: $hero-text-size;
  }
  @include mobile {
    font-size: $text-size;
    display: none;
  }
}

.list {
  font-size: $text-size;
  display: flex;

  @include tablet {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    li {
      a {
        cursor: pointer;
        padding: 0 2rem;
        text-decoration: none;
        color: var(--default-text-color);
      }
      a:hover {
        color: var(--section-header-color);
      }
    }
  }
}

.hamburgerContainer {
  display: none; // Hide hamburger menu by default
  img {
    height: 25px;
  }
  @include tablet {
    display: flex; // Show the hamburger menu on mobile
    align-items: center;
    cursor: pointer;
    width: 230px;

    .hamburgerWrapper {
      display: flex;
      align-items: center;
      gap: 2rem;

      .hamburger {
        height: 25px;
      }
    }
  }
  @include mobile {
    width: 100%;
    justify-content: end;
    margin-right: 1rem;
  }
}

.mobileMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: 10;
  visibility: hidden; // Hide by default
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  box-shadow: $shadow-blue-lg;
}

.mobileMenuOpen {
  visibility: visible;
  opacity: 1;
  transform: translateY(7.7rem);
  @include mobile {
    transform: translateY(5.8rem);
  }
}

.mobileMenuList {
  font-size: $text-size;
  height: 100%;
  width: 100%;
  li {
    cursor: pointer;
    padding: 2rem;
    text-align: center;
  }

  li:hover {
    background-color: darken(#fff, 10%);
    a {
      color: var(--section-header-color);
    }
  }
}
