.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0;
  box-shadow: $shadow-lg;
}

.logo {
  padding: 0 2rem;
  font-size: $headings-size;
  justify-self: start;

  @include mobile {
    font-size: $hero-text-size;
  }
}

.list {
  font-size: $text-size;
  display: flex;
  justify-self: end;

  @include tablet {
    display: none;
  }

  ul {
    display: flex;
    li {
      a {
        padding: 0 2rem;
        text-decoration: none;
        color: black;
      }
      a:hover {
        color: cornflowerblue;
      }
    }
  }
}

.hamburger {
  display: none; // Hide hamburger menu by default

  @include tablet {
    display: flex; // Show the hamburger menu on mobile
    align-items: center;
    cursor: pointer;
    width: 25px;
    padding-right: 4rem;

    img {
      height: 25px;
    }
  }
}

.mobileMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  visibility: hidden; // Hide by default
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  box-shadow: $shadow-lg;
}

.mobileMenuOpen {
  visibility: visible;
  opacity: 1;
  transform: translateY(7.7rem);
  @include mobile {
    transform: translateY(5.8rem);
  }
}

.mobileMenuList {
  font-size: $text-size;
  height: 100%;
  width: 100%;
  li {
    padding: 2rem;
    text-align: center;
  }

  li:hover {
    background-color: darken(#fff, 10%);
  }
}
