.section {
  background-color: var(--default-shade);
  width: 100%;
}

.footerWrapper {
  display: flex;
  justify-content: space-around;
  padding: 2rem 5rem;
  align-items: center;
}

.description {
  color: white;
  font-size: $hero-text-size;
}

// Socials
.footerSocials {
  display: flex;
  color: var(--secondary-text-color);
  img {
    width: 25px;
    margin: 0 1rem;
  }

  @include tablet {
    justify-content: center;
  }
}
