.descriptionCard {
  height: 100%;
  width: 100%;
  font-size: $text-size;
  h4 {
    padding: 1rem;
    color: var(--section-header-color);
  }
  h3 {
    padding: 1rem;
    font-size: $hero-text-size;
    color: var(--default-text-color);
  }
  a {
    padding: 1rem;
    text-decoration: underline;
  }
}

.desc {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--background-color);
  text-align: start;
  color: var(--default-text-color);
  box-shadow: $shadow-inner2;
}

.noteContainer {
  padding: 1rem 0;
}

.noteHeading {
  color: yellow;
}

.noteDesc {
  color: var(--default-text-color);
}

.demoAcc {
  padding-top: 1rem;
  div {
    display: flex;
    @include mobile {
      align-items: center;
    }
    p + p {
      font-weight: bold;
      @include mobile {
        word-break: break-all;
      }
    }
  }
}
